* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --brand-color-light: #6OA5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color: #OF172A;
    --stroke-color: #1E293B;
    --text-color-primary: #f1f5f;
    --text-color-secondary: #cbd5e1;

    /* FONTS */
    


}