main {
    margin-block: 4rem;
    row-gap: 8rem;
    column-gap: 3.2rem;

    grid-template-columns: 2fr 1.4fr;

    grid-template-areas:
    "featured featured"
    "weekly weekly"
    "ai aside"
    ;
}

section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: 1.2rem 2.4rem;
    font: var(--text-span);

    a {
        justify-self: end;
        align-items: center;
        gap: 0.8rem;
    
        span {
            background-image: url(../assets/icons/ArrowRight.svg);
            background-repeat: no-repeat;
            width: 1.6rem;
            height: 1.6rem;
        }

        &:hover span {
            background-image: url(../assets/icons/ArrowRightHover.svg) ;
        }
    }
}

section#featured {
    grid-area: featured;

    img {
        height: 100%;
    }
    
    .card {
        position: relative;
        border-radius: 0.4rem;
        overflow: hidden;
        
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(180deg, transparent 0%, #020617 100%);
        }

        figcaption {
            position: absolute;
            bottom: 0; 
            padding: 2.4rem;

            &:has(.text-lg){
                padding: 1.2rem;
            }

            h2 {
                margin-top: 0.8rem;
            }
        }
    }
}

section#weekly {
    grid-area: weekly;

    & > div {
        grid-template-columns: repeat(4, 29.2rem);
    }

    img {
        height: 16rem;
    }

    figure {
        position: relative;
        top: 0.8rem;
        left: 0.8rem;

        .content-tag-span {
            position: absolute;
            top: 0.8rem;
            left: 0.8rem;
        }

        p {
            margin-top: 0.8rem;
            font-weight: 800;
        }
    }
}

section#ai {
    grid-area: ai;

    img {
        width: 17.6rem;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h3 {
        margin-block: 0.8rem 0.4rem;
    }
}

aside {
    grid-area: aside;
}

section#more {
    margin-top: 3.2rem;

    img {
        width: 7.2rem;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h3 {
        margin-top: 0.8rem;
    }
}